table tr:nth-child(odd) td:nth-child(odd){
    background-color: white;
}

table tr:nth-child(odd) td:nth-child(even){
    background-color: chocolate;
}

table tr:nth-child(even) td:nth-child(even){
    background-color: white;
}

table tr:nth-child(even) td:nth-child(odd){
    background-color: chocolate;
}

